<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8" />
    <title>退货详情</title>

    <!--css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <!--加载框-->
    <link rel="stylesheet" href="css/iosOverlay.css">
    <!--吐司-->
    <link rel="stylesheet" href="css/toast.css">

    <!--js-->
    <script src="js/util/jquery-3.2.1.min.js"></script>
    <script src="js/util/bootstrap.min.js"></script>
    <!--加载框-->
    <script src="js/util/spin.min.js"></script>
    <script src="js/util/jquery.spin.js"></script>
    <script src="js/util/iosOverlay.js"></script>
    <!--吐司-->
    <script src="js/util/toast.js"></script>
    <!--签名-->
    <script type="text/javascript" src="js/util/jSignature.js"></script>
    <!--vue-->
    <script src="js/util/vue.min.js"></script>
    <script src="js/common/component.js"></script>
    <!--custom-->
    <script src="js/common/app.js"></script>
    <script src="js/common/tool.js"></script>
    <script src="js/backOrder.js"></script>

    <style type="text/css">
        body{
            width: 100%;
            height:100%;
            background-color: #f2f2f2;
        }
        .orange-block{
            display: inline-block;
            width: 10px;
            height: 100%;
            background-color: #FF9000;
        }
        .yellow-block{
            display: inline-block;
            width: 6px;
            height: 70%;
            margin-left: 12px;
            margin-right: 8px;
            background-color: #FFD100;
        }

    </style>
</head>
<body>
<div id="backOrder" v-cloak>

    <header class="title-bar">
        <div @click="back()" class="title-bar-left"><span>返回</span></div>
        <div class="title-bar-center">
            <span class="title-bar-title">退货详情</span>
        </div>
        <div class="title-bar-right">
        </div>
    </header>


    <div class="content">


        <!--服务明细-->

        <div style="padding: 12px">
            <strong class="font font-28-333">{{companyName}}</strong>
        </div>
        <divider></divider>

        <!--服务/商品列表-->
        <div>
            <!--套餐-->
            <div v-if="backInfo.packageList && backInfo.packageList.length>0">

                <div style="background-color: white;height: 30px;display: flex;align-items: center">
                    <!--<span class="orange-block"></span>-->
                    <span class="font font-28-333 ml8">套餐</span>
                </div>
                <template v-for="package in backInfo.packageList">
                    <package-template v-bind:package="package"></package-template>

                    <back-template v-bind:info="package"></back-template>
                </template>
            </div>

            <!--卡券-->
            <div v-if="backInfo.cardList && backInfo.cardList.length>0">

                <div style="background-color: white;height: 30px;display: flex;align-items: center">
                    <!--<span class="orange-block"></span>-->
                    <span class="font font-28-333 ml8">卡券</span>
                </div>
                <template v-for="card in backInfo.cardList">
                    <card-template v-bind:card="card"></card-template>

                    <back-template v-bind:info="card"></back-template>
                </template>
            </div>

            <!--商品-->
            <div v-if="backInfo.productList && backInfo.productList.length>0">

                <div style="background-color: white;height: 30px;display: flex;align-items: center">
                    <span class="orange-block"></span>
                    <span class="font font-28-333 ml8">商品</span>
                </div>
                <template v-for="good in backInfo.productList">
                    <product-template v-bind:product="good"></product-template>

                    <back-template v-bind:info="good"></back-template>
                </template>
            </div>
        </div>

    </div>

</div>

</body>
</html>