<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8" />
    <title>提交结算</title>
    <!--css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <!--加载框-->
    <link rel="stylesheet" href="css/iosOverlay.css">
    <!--吐司-->
    <link rel="stylesheet" href="css/toast.css">

    <!--js-->
    <script src="js/util/jquery-3.2.1.min.js"></script>
    <script src="js/util/bootstrap.min.js"></script>
    <!--加载框-->
    <script src="js/util/spin.min.js"></script>
    <script src="js/util/jquery.spin.js"></script>
    <script src="js/util/iosOverlay.js"></script>
    <!--吐司-->
    <script src="js/util/toast.js"></script>
    <!--vue-->
    <script src="js/util/vue.min.js"></script>
    <script src="js/common/component.js"></script>
    <!--custom-->
    <script src="js/common/app.js"></script>
    <script src="js/common/tool.js"></script>
    <script src="js/commitBalance.js"></script>


    <style type="text/css">
        *{
            padding: 0;
            margin: 0;
        }
        body{
            width: 100%;
            height:100%;
            background-color: #f2f2f2;
        }

        .content{
            margin-bottom: 100px;
        }
        .content .choose{
            padding:8px 8px 8px 12px;
        }
        .content .choose:active{
            background-color: #f8f8f8;
        }
        .orange-block{
            display: inline-block;
            width: 10px;
            height: 100%;
            background-color: #FF9000;
        }
        footer .bottom{
           z-index: 102;
           position: fixed;
           width: 100%;
           bottom: 0;
           background-color: white;
        }
        footer .btn-confirm{
            display:flex;
            align-items:center;
            justify-content:center;
            width: 120px;
            height: 100%;
            background-color: #FFD100;
            color: #333;
        }

    </style>
</head>
<body>
<div id="commitBalance" v-cloak>

    <header class="title-bar">
        <div class="title-bar-left" @click="back()"><span>返回</span></div>
        <div class="title-bar-center">
            <span class="title-bar-title">提交结算</span>
        </div>
        <div class="title-bar-right">
        </div>
    </header>

    <div class="content">
        <!--公司-->
        <div class="title" style=";height: 40px;line-height: 40px;background-color: #f2f2f2">
            <strong class="font font-24-333">江苏达诚汽车俱乐部（广电路店）</strong>
        </div>
        <!--商品明细-->
        <!--项目/商品列表-->
        <div>
            <div v-if="appointInfo.projectList && appointInfo.projectList.length>0">
                <template v-for="item in appointInfo.projectList">
                    <div style="background-color: white; height: 30px;line-height:30px;">
                        <span class="font font-28-333 ml12">{{item.projectName}}</span>
                    </div>

                    <project-template v-bind:project="item"></project-template>

                    <div>
                        <template v-for="good in item.productList">
                            <product-template v-bind:product="good"></product-template>
                        </template>
                    </div>
                </template>
            </div>


            <div v-if="appointInfo.productList && appointInfo.productList.length>0">

                <div style="background-color: white;height: 30px;display: flex;align-items: center">
                    <span class="orange-block"></span>
                    <span class="font font-28-333 ml8">商品</span>
                </div>
                <template v-for="good in appointInfo.productList">
                    <product-template v-bind:product="good"></product-template>
                </template>
            </div>
        </div>


        <!--收费明细-->
        <div style="background-color: white;margin-top: 12px">

            <div style="padding:8px 12px;">
                <span class="font font-26-333">商品总计</span>
                <money-template v-bind:money="appointInfo.productMoneys" class="font font-26-333" style="float: right"></money-template>
            </div>
            <divider></divider>

            <div style="padding:8px 12px;">
                <span class="font font-26-333">运费</span>
                <span class="font font-26-333" style="float: right">+￥{{appointInfo.freightMoney.toFixed(2)}}</span>
            </div>
            <divider></divider>

            <div v-if="!(appointInfo.discountMoney == null || appointInfo.discountMoney == undefined || appointInfo.discountMoney == '' || appointInfo.discountMoney == 0)">
                <div style="padding:8px 12px;" >
                    <span class="font font-26-333">会员折扣</span>
                    <span class="font font-26-333" style="float: right">-￥{{appointInfo.discountMoney.toFixed(2)}}</span>
                </div>

                <divider></divider>
            </div>



            <div @click="chooseCardCoupons()" class="choose">
                <span class="font font-26-333">客户卡券</span>
                <div style="float: right">
                    <span class="font font-26-333" style="color: red">5张可用</span>
                    <img src="img/right.png" style="width: 12px">
                </div>
            </div>
            <divider></divider>

            <div @click="chooseRed()" class="choose">
                <span class="font font-26-333">红包</span>
                <div style="float: right">
                    <span class="font font-26-333" style="color: red">无可用红包</span>
                    <img src="img/right.png" style="width: 12px">
                </div>
            </div>
            <divider></divider>


            <div class="choose" @click="compareSpecialDiscount()">
                <span class="font font-26-333">特批优惠</span>
                <div style="float: right">
                    <span class="font font-26-333" style="color: red">获取优惠</span>
                    <img src="img/right.png" style="width: 12px">
                </div>
            </div>
            <divider></divider>

        </div>


        <divider></divider>

    </div>


    <footer>
        <div class="bottom">
            <!--完成派工-->
            <divider></divider>
            <div style="display: flex;align-items: center;height: 50px;margin-left: 16px;width: 100%">
                <div style="flex:1;display: flex;flex-direction:column;justify-content:center;height: 100%;">
                    <div>
                        <span class="font font-24-333">应付总计：</span>
                        <money-template v-bind:money="appointInfo.payMoney" class="font font-28-333" style="color: red"></money-template>
                    </div>
                    <span class="font font-24-999">包含工时/安装费</span>
                </div>
                <span class="btn-confirm">客户确认</span>

            </div>

        </div>

    </footer>
</div>

</body>
</html>