<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8" />
    <title>历史维修详情-线上</title>

    <!--css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <!--加载框-->
    <link rel="stylesheet" href="css/iosOverlay.css">
    <!--吐司-->
    <link rel="stylesheet" href="css/toast.css">

    <!--js-->
    <script src="js/util/jquery-3.2.1.min.js"></script>
    <script src="js/util/bootstrap.min.js"></script>
    <!--加载框-->
    <script src="js/util/spin.min.js"></script>
    <script src="js/util/jquery.spin.js"></script>
    <script src="js/util/iosOverlay.js"></script>
    <!--吐司-->
    <script src="js/util/toast.js"></script>
    <!--vue-->
    <script src="js/util/vue.min.js"></script>
    <script src="js/common/component.js"></script>
    <!--custom-->
    <script src="js/common/app.js"></script>
    <script src="js/common/tool.js"></script>
    <script src="js/repairOnline.js"></script>

    <style type="text/css">
        body{
            width: 100%;
            height:100%;
            background-color: #f2f2f2;
        }
        .appoint-info{
            background-color: white;
        }
        .appoint-info-1{
            box-sizing: border-box;
            padding: 5px 12px 1px 12px;
            display: flex;
        }
        appoint-info-1 span{
            display: inline-block;
        }
        .appoint-info-1 .left{
            width: 45%;
        }
        .appoint-info-1 .right{
            width: 45%;
        }
        #repairHistory{
            background-color: white;padding: 12px
        }
        #repairHistory:active{
            background-color: #f8f8f8;
        }
    </style>
</head>
<body>
<div id="repairOnline" v-cloak>
    <header class="title-bar">
        <div @click="back()" class="title-bar-left"><span>返回</span></div>
        <div class="title-bar-center">
            <span class="title-bar-title">历史维修</span>
        </div>
        <div class="title-bar-right">
        </div>
    </header>

    <div class="content">
        <!--服务信息-->
        <div class="title">
            <span class="font font-26-666">服务信息</span>
        </div>
        <div class="appoint-info">
            <div class="appoint-info-1">
                <div class="left">
                    <p class="font font-24-aaa">车辆类别</p>
                    <p class="font font-30-333 ml12">{{payInfo.carKindName}}</p>
                </div>
                <div style="float:left;width: 1px;height: 35px; background: #f2f2f2;margin: 5px 12px"></div>
                <div class="right">
                    <p class="font font-24-aaa">车辆身份</p>
                    <p class="font font-30-orange ml12">{{payInfo.AgreementName}}</p>
                </div>
            </div>
            <divider></divider>

            <div class="appoint-info-1">
                <div class="left">
                    <p class="font font-24-aaa">当前里程</p>
                    <p class="font font-30-333 ml12">{{payInfo.nowMileage}}km</p>
                </div>
                <div style="float:left;width: 1px;height: 35px; background: #f2f2f2;margin: 5px 12px"></div>
                <div class="right">
                    <p class="font font-24-aaa">上次保养里程（时间）</p>
                    <p v-if="payInfo.lastTime" class="font font-30-333 ml12">{{payInfo.lastMileage + "km（" + payInfo.lastTime + "）"}}</p>
                    <p v-if="!payInfo.lastTime" class="font font-30-333 ml12">{{payInfo.lastMileage + "km"}}</p>
                </div>
            </div>
            <divider></divider>

            <div class="appoint-info-1">
                <div class="left">
                    <p class="font font-24-aaa">服务内容</p>
                    <p class="font font-30-333 ml12">{{payInfo.name}}</p>
                </div>
                <div style="float:left;width: 1px;height: 35px; background: #f2f2f2;margin: 5px 12px"></div>
                <div class="right">
                    <p id="serviceName" class="font font-24-aaa">服务时间</p>
                    <p id="serviceTime" class="font font-30-333 ml12">{{payInfo.serviceTime}}</p>
                </div>
            </div>
            <divider></divider>

            <div class="appoint-info-1">
                <div class="left">
                    <p class="font font-24-aaa">客户接待</p>
                    <p class="font font-30-333 ml12">{{payInfo.customName}}</p>
                </div>
                <div style="float:left;width: 1px;height: 30px; background: #f2f2f2;margin: 5px 12px"></div>
                <div class="right">
                    <p class="font font-24-aaa">高级技师</p>
                    <p class="font font-30-333 ml12" >{{payInfo.personName? payInfo.personName :"无"}}</p>
                </div>
            </div>
        </div>

        <!--维修及预检项目-->
        <div class="title">
            <span class="font font-26-666">维修及预检项目</span>
        </div>
        <div id="repairHistory" @click="lookRepairRecords()">
            <span class="font font-28-333">维修记录</span>
            <img src="img/right.png" style="float: right;width: 18px">
        </div>

        <!--服务明细-->
        <div class="title">
            <span class="font font-26-666">服务明细</span>
        </div>

        <div style="background-color: white;padding: 12px">
            <strong class="font font-28-333">{{payInfo.componyName}}</strong>
        </div>
        <divider></divider>

        <!--线上订单-->
        <div v-if="onlineService">
            <div v-if="onlineService.orderServiceList && onlineService.orderServiceList.length>0">
                <template v-for="item in onlineService.orderServiceList">
                    <div v-if="!(item.serviceName== null || item.serviceName == undefined || item.serviceName == '')"  style="background-color: white;height: 30px;display: flex;align-items: center">
                        <span class="font font-30-333 ml12">{{item.serviceName}}</span>
                    </div>

                    <div v-if="item.projectList && item.projectList.length>0">
                        <template v-for="project in item.projectList">
                            <project-template v-bind:project="project"></project-template>
                        </template>
                    </div>

                    <div v-if="item.productList && item.productList.length>0">
                        <template v-for="product in item.productList">
                            <product-template v-bind:product="product"></product-template>
                        </template>
                    </div>
                </template>
            </div>

            <div style="background-color: white;padding: 12px;display: flex;align-items: center">
                <div style="flex: 1">
                    <span>共{{onlineService.serviceNum}}项服务，合计<strong class="font-22-orange" style="font-size: 1.5em" >￥{{parseFloat(onlineService.money).toFixed(2)}}</strong>(含运费￥0.00)</span>
                </div>
                <span v-if="onlineService.payState == 0" class="font font-30-red">待支付</span>
                <span v-if="onlineService.payState == 1" class="font font-30-orange">已支付</span>
            </div>
        </div>

        <!--线下订单-->
        <div v-if="offlineService">
            <space></space>

            <div style="background-color: white;padding: 12px;display: flex;align-items: center">
                <strong style="flex: 1" class="font font-30-333">线下服务</strong>
                <span v-if="offlineService.payState == 0" class="font font-30-red">待支付</span>
                <span v-if="offlineService.payState == 1" class="font font-30-orange">已支付</span>
            </div>
            <divider></divider>

            <div v-if="offlineService.projectList && offlineService.projectList.length>0">
                <template v-for="project in offlineService.projectList">
                    <project-template v-bind:project="project"></project-template>
                    <div v-if="project.productList && project.productList.length>0">
                        <template v-for="good in project.productList">
                            <product-template v-bind:product="good"></product-template>
                        </template>
                    </div>
                </template>
            </div>

            <!--商品-->
            <div v-if="offlineService.productList && offlineService.productList.length>0">

                <div style="background-color: white;height: 30px;display: flex;align-items: center">
                    <span class="font font-28-333 ml12">商品</span>
                </div>
                <template v-for="product in offlineService.productList">
                    <product-template v-bind:product="product"></product-template>
                </template>
            </div>

            <!--收费明细-->
            <charge-template-online v-bind:info="offlineService" v-bind:state="offlineService.payState"></charge-template-online>
        </div>

        <!--订单编号等-->
        <div style="display: flex;flex-direction: column;padding: 12px">
            <span class="font font-26-666">订单编号：{{payInfo.orderCode}}</span>
            <span class="font font-26-666 mt6">创建时间：{{payInfo.createTime}}</span>

            <div v-if="payInfo && payInfo.payList && payInfo.payList.length > 0" style="display: flex;flex-direction: column;">
                <template v-for="item in payInfo.payList">
                    <span class="font font-26-666 mt6">付款时间：{{item.payTime}}</span>
                    <span v-if="item.payCode" class="font font-26-666 mt6">{{item.payType + "交易号：" + item.payCode}}</span>
                </template>
            </div>
        </div>

        <!--占位-->
        <div style="height: 108px"></div>
    </div>
</div>

</body>
</html>