@charset "utf-8";

/* CSS Document */

HTML,
body {
	margin: 0;
	padding: 0;
	font:.95rem/2 Microsoft YaHei;
	/*background-color: rgb(80, 210, 194);*/
	background-color: rgb(255, 255, 255);
	color: #646464;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

li,
ul { list-style: none; }

a:focus,
a:hover { text-decoration: none; }

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.l { float: left; }

.r { float: right; }

.h4,
h4 { font-size: 1.2rem; }

h5 { font-weight: bold; }

.margin-top { margin-top: 39px; }

.border-0 { border: 0 !important; }

.font12 { font-size: 12px; }

.font15 { font-size: 15px; }

.font30 { font-size: 30px; }

header {
	width: 100%;
	background-color: #fab35f;
	text-align: center;
	color: #fff;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	height: 39px;
	border: 1px solid #f0f0f2;
	border-right-width: 0;
	border-left-width: 0;
	border-top-width: 0;
}

header>h4 { line-height: 1.6rem; }

center { background-color: #fff; height: inherit; }

a { color: #646464; }

article {
	width: 100%;
	position: fixed;
	z-index: 3;
	top: 39px;
	left: 0;
}

footer {
	width: 100%;
	position: fixed;
	z-index: 99;
	left: 0;
	bottom: 0;
	background-color: #f7f7fa;
	border-top: 1px solid #bbb;
}

.clear { clear: both; }

.btn { width: 100%; }

/*通用*/

.text-list,
.text-details {
	width: 100%;
	border-right-width: 0;
	border-left-width: 0;
}

.text-list ul,
.text-details ul {
    padding: 0 .5rem;
    margin: 0;
}

.text-list ul li,
.text-details ul li {
    text-align: left;
    list-style: none;
    font-size: .9rem;
    line-height: 1.8rem;
    position: relative;
	width: 100%;
}


/*道闸引导页
********************************/

/*LOGO*/
.logo {
	background-color: #50d2c2;
	padding: 5%;
}
.logo span:last-child {
	display: inline-block; 
	width: 50%; 
	padding: 0 5%;
	text-align: left;
	border-left: 1px solid #FFF;
}
.logo span:first-child {
	display: inline-block; 
	width: 50%;
	padding: 0 5%;
	text-align: right;
	}
.logo div:not(first-child) h4 {
	color: #fff;
	margin-bottom: 0;
	}










/*输入框*/
.text-list-bg {
	width: 100%;
	background-color: #51d2c2;
    border-radius: 5px;
	position: relative;
	height: 42px;
	line-height: 35px;
}
.text-list-bg input { 
	color: #fff;
    height: auto;
    border: none;
    box-shadow: none;
    margin: 0;
	padding-left: .9rem;
    font-size: .9rem;
    font-weight: initial;
    background-color: transparent;
}


:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff; opacity:1; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;opacity:1;
}

#phone:-ms-input-placeholder,
#code:-ms-input-placeholder {
    color: #fff;opacity:1;
}
#phone,
#code { outline:none;}
#phone::-webkit-input-placeholder,
#code::-webkit-input-placeholder {
    color: #fff;opacity:1;
}
#phone::-webkit-autofill,
#code::-webkit-autofill {  
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;  
}  
center hr {
	border-color: #fff;}



/*发送验证码*/
.btn-small {
	height: auto;
	width: 70px;
	border-radius: initial !important;
	white-space: inherit;
	font-size: 12px;
	border-left: 1px solid #fff;
    padding: .2rem .5rem;
}

.get-code,
.reset-code {
	position: absolute;
	top: 0;
	right: 0;
}

.get-code {
	padding: 0;
	background-color: transparent;
	color: #fff;
	display: inline;
	border-left: 1px solid #fff;
	padding: .2rem .5rem;
}
.usage{
	line-height:20px;
	height:20px;
	position:relative;
	}
.usage>input { display: inline;}
.glyphicon-lock,
.glyphicon-phone,
.fa-mobile,
.fa-unlock-alt,
.fa-mobile-phone {
	color: #fff;
	top: 0;
	width: .9rem;
	height: .9rem;
}
.text-list-bg>span {
	border-right: 1px solid #fff;
	padding: .5rem .9rem;
	font-size: 1.2rem;
    text-align: center;
	display: inline-block;
	height: inherit;
	}
.text-list ul li:first-child {
    padding-bottom: 5%;
	}
#code ,
#tel {
	position: absolute;
	left: 42px;
    top: 9%;
	height: auto;
	border: none;
	box-shadow: none;
	margin: 0;
	font-size: 0.9rem;
	font-weight: initial;
	background-color: transparent;
}

/*确定*/

.btn-Determine {
	background-color: #ccc;
	color: #fff;
	height: 42px;
}
.btn-Determine.on {
	background-color: #ff6041;
	color: #fff;
	height: 42px;
}

/*分割线*/
.order {  
	height: 20px;  
	line-height: 20px;  
	text-align: center;  
	margin-bottom: 10px;
}  
.title strong {
    position: relative;
    display: inline-block;
    height: 28px;
    line-height: 28px;
}

.title strong:before {
	border-bottom: 1px solid #ccc;
	position: absolute;
	content: " ";
    width: 45px;
    height: 5px;
    top: 11px;
    left: -55px;
    z-index: 2;
}
.title strong:after{ 
	border-bottom: 1px solid #ccc;
    position: absolute;
    content: " ";
    width: 45px;
    height: 5px;
    top: 11px;
    right: -55px;
    z-index: 2;
}

.order .line {  
	display: inline-block;  
	width: 20%;  
	border-top: 1px solid #ccc ;  
} 
.order .tarchi {
	width: 1%;
	white-space:pre; 
	display: inline-block;
	} 
.order .txt {
	width: 50%;  
	color: #686868;  
	vertical-align: middle;  
} 
.Package_Detailed.bg-2 .order {
	height: 40px;
	line-height: 40px;}



/*安卓、苹果下载*/
.download {
	position: relative;
	padding: 10% 0;
}
.download .download-list {
	position: absolute;
    top: 50%;
    left: 50%;
    width: inherit;
    margin-left: -116px;
	margin-top: -25px;
}
.download>div a span {
	display: block;
	width: 40px; 
	background-color: #50d2c2; 
	border-radius: 50%; 
	height: 40px; 
	font-size: 30px; 
	line-height: 40px; 
	text-align: center; 
	color: #fff;
}
.download>div a { 
	display: inline-block;
	line-height: .9rem;
}
.download>div a:not(last-child){ margin-right: 1rem;}
.download>div a:not(first-child){ display: inline-block; margin-left: 1rem;}




.wave {
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: rgb(80, 210, 194);
    /*border-radius: 50%;*/
	overflow: hidden;
	bottom: -45px;
    z-index: 0;
}
.wave::before,
.wave::after{
    content: "";
    position: absolute;
    width: 750px;
    height: 750px;
    top: -130%;
    left: 50%;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 45%;
    transform: translate(-50%, -70%) rotate(0);
    animation: rotate 6s linear infinite;
    z-index: 1;
}   
.wave::after {
    border-radius: 47%;
    background-color: rgba(255, 255, 255, 1);
    transform: translate(-50%, -70%) rotate(0);
    animation: rotate 10s linear -5s infinite;
    z-index: 2;
}

@keyframes rotate {
  50% {
    transform: translate(-50%, -73%) rotate(180deg);
  } 
  100% {
    transform: translate(-50%, -70%) rotate(360deg);
  }
}





